<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KIRA PASS</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home">
	<header>
		<div align="right">
			<form th:action="@{/logout}" method="post">
				<button type="submit">logout</button>
			</form>
		</div>
		<h1 class="kira">KIRA Policy Administration System</h1>
	</header>
<div align="center">
<h1>Policy Details</h1>
<table style="border: 1px solid black;border-collapse: collapse;">
  
  <tr><td>Consumer Id:</td>
    <td>
<span th:text="${policyDetailsResponse.consumerid}"></span>
</td>
  </tr>
  <tr><td>Policy Id:</td>
    <td>
<span th:text="${policyDetailsResponse.policyid}"></span></td>
  </tr>
  <tr><td>Property Type:</td>
    <td>
<span th:text="${policyDetailsResponse.property_type}"></span></td>
  </tr>
  <tr><td>Consumer Type:</td>
    <td>
<span th:text="${policyDetailsResponse.consumer_type}"></span></td>
  </tr>
  <tr><td>Assured Sum:</td>
    <td>
<span th:text="${policyDetailsResponse.assured_sum}"></span></td>
  </tr>
  <tr><td>Tenure:</td>
    <td>
<span th:text="${policyDetailsResponse.tenure}"></span></td>
  </tr>
  <tr><td>Business Value:</td>
    <td>
<span th:text="${policyDetailsResponse.business_value}"></span></td>
  </tr>
  <tr><td>Property Value:</td>
    <td>
<span th:text="${policyDetailsResponse.property_value}"></span></td>
  </tr>
  <tr><td>Base Location:</td>
    <td>
<span th:text="${policyDetailsResponse.base_location}"></span></td>
  </tr>
  <tr><td>Type:</td>
    <td>
<span th:text="${policyDetailsResponse.type}"></span></td>
  </tr>
   <tr><td>Business Id:</td>
    <td>
<span th:text="${policyDetailsResponse.businessid}"></span></td>
  </tr>
  <tr><td>Payment Details:</td>
    <td>
<span th:text="${policyDetailsResponse.paymentdetails}"></span></td>
  </tr>
  <tr><td>Acceptance Status:</td>
    <td>
<span th:text="${policyDetailsResponse.acceptancestatus}"></span></td>
  </tr>
  <tr><td>Policy Status:</td>
    <td>
<span th:text="${policyDetailsResponse.policystatus}"></span></td>
  </tr>
  <tr><td>Effective Date:</td>
    <td>
<span th:text="${policyDetailsResponse.effectivedate}"></span></td>
  </tr>
  <tr><td>Covered Sum:</td>
    <td>
<span th:text="${policyDetailsResponse.covered_sum}"></span></td>
  </tr>
  <tr><td>Duration:</td>
    <td>
<span th:text="${policyDetailsResponse.duration}"></span></td>
  </tr>
  <tr><td>Accepted Quote:</td>
    <td>
<span th:text="${policyDetailsResponse.acceptedquote}"></span></td>
  </tr>
 
</table>	
</div>
<br>
<br>
<table style="border: 1px solid black;border-collapse: collapse;">
<tr>
 <th>Policy Details</th>
  <th>
<span th:text="${policyDetailsResponse}" th:object="${details}"></span>
</th>
  </tr>

</table>
<br>
<br>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</body>
</html>